body {
    background: linear-gradient(to bottom, rgb(17, 65, 105), rgb(2, 11, 39));
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    height: 100vh;
}

.lotus {
    width: 450px;
    height: auto;
}

.App {
    padding: 20px;
}

.fixedButtons {
    position: fixed;
    right: 20px;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 1000;
}

.fixedButtons button {
    width: 30px;
    height: 30px;
    background: linear-gradient(60deg, #799df1 10%, #60c1ec 25%, #7bd9de 40%, #cfb0d2 55%, #799df1 70%, #60c1ec 85%, #7bd9de);
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    line-height: 60px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button {
    background: linear-gradient(60deg, #799df1 10%, #60c1ec 25%, #7bd9de 40%, #cfb0d2 55%, #799df1 70%, #60c1ec 85%, #7bd9de);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background-color 0.3s ease;
}

.buttonSection {
    padding: 10px 20px;
}

.fixedButtons button:hover,
button:hover {
    box-shadow: inset 0 0 1rem 0 #f7f7f6, 0 0 1rem 0 #f7f7f6;
}

.bottomButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#section1 {
    background: linear-gradient(to bottom, rgb(17, 65, 105), rgb(2, 11, 39));
    background-image: ("/finalS1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0;
    padding: 20px;
}

#section2 {
    background: linear-gradient(to bottom, rgb(2, 11, 39), rgb(17, 65, 105));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
}

#section3 {
    background: linear-gradient(to bottom, rgb(17, 65, 105), rgb(2, 11, 39));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0;
    padding: 20px;
}

#section4 {
    background: linear-gradient(to bottom, rgb(17, 65, 105), rgb(2, 11, 39));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0;
    padding: 20px;
}


.section {
    transition: background-color 0.3s ease;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #322b8a;
}

.custom-file-input input[type="file"] {
    display: none;
}

.custom-file-input {
    position: absolute;
    top: 170px;
    left: 380px;
}

.section-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}

.custom-file-input label {
    display: inline-block;
    padding: 10px 40px;
    background-color: rgb(137, 207, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-file-input label:hover {
    background-color: #290a96;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 500px;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', sans-serif;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    margin: 15px 0 10px 0;
    font-size: 18px;
}

.card p {
    font-size: 20px;
    color: lightgray;
}

.buttonSection {
    padding: 20px 20px;
    font-size: 16px;
    background-color: rgb(137, 207, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 70px;
    width: 500px;
    height: 100px;
    margin-bottom: 7%;
    float: left;

    position: relative;
  z-index: 0;
  padding: 1rem 3rem;
  border: 1px solid #799df1;
  border-radius: 9999px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  box-shadow: inset 0 0 1rem 0 #f7f7f6;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.5s ease;
  background: linear-gradient(60deg, #799df1 5%, #60c1ec 15%, #7bd9de 25%, #cfb0d2 35%, #799df1 45%, #60c1ec 55%, #7bd9de 65%, #cfb0d2 75%, #799df1 85%, #60c1ec 95%, #7bd9de);
  background-size: 200% 200%;
  background-position: -100% -100%;
  animation: moving1;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes moving1 {
  20% {
    background-position: -130% -120%;
  }
  40% {
    background-position: -140% -100%;
  }
  70% {
    background-position: -110% -130%;
  }
}
.iridiscent:before {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 9999px;
  border-top: 1px solid rgba(247, 247, 246, 0.5);
  border-right: 1px solid rgba(247, 247, 246, 0.5);
  box-shadow: 0 0 1rem 1rem rgba(199, 200, 201, 0.4);
  background: linear-gradient(180deg, transparent, #c7c8c9 160%);
  overflow: hidden;
}
.iridiscent:after {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  background: linear-gradient(150deg, #f7f7f6, transparent 20%, transparent 60%, #f7f7f6 75%, #f7f7f6);
}
.iridiscent:hover {
  box-shadow: inset 0 0 1rem 0 #f7f7f6, 0 0 1rem 0 #f7f7f6;
}
@media screen and (max-width: 450px) {
  .iridiscent {
    font-size: 1rem;
  }
}

.button-container {
    display: flex;
    flex-direction: column;
    background-color: linear-gradient(to bottom, rgb(2,11,39), rgb (17,65,105))
}

.no {
    overflow-x: hidden;
    width: 100vh;
    height: auto;
}